<header id="masthead" class="site-header">
    
        <div class="ish-container-fluid">
          <div class="ish-container-inner">
            <div class="ish-row">
    
              <div class="ish-header">
                <div class="ish-logo-container ish-txt-color3">
                  <a href="index.html"><span class="ish-logo-box"><span class="ish-logo-middle"><img src="assets/img/logo.svg" class="ish-logo" alt="QUSQ logo" /></span></span></a>
                  <span class="ish-theme-tagline ish-vertical">Astalavista Baby</span>
                </div>
                <div class="ish-menu-container ish-txt-color3">
                  <a href="#"><span class="ish-icon-nav"><i class="ish-icon-menu"></i></span><span class="ish-menu-desc ish-vertical">Menu</span></a>
                </div>
              </div>
    
              <div class="site-branding">
                <h1 class="site-title">When <span>Love</span><br> &amp; <span>Passion</span> meet</h1>
                <h2 class="site-subtitle">beautiful <span>things</span> start to <span>work</span>!</h2>
                <p class="site-description"><span>You don't believe?</span></p>
              </div>
            </div>
            <div #navbar class="ish-navigation">
              <div class="ish-nav-bg ish-theme-rotate"></div>
              <a href="#" class="ish-nav-close"><i class="ish-icon-cancel-1"></i><span>Close</span></a>
              <div class="ish-nav-container-bg">
                <div class="ish-nav-container">
                  <div class="ish-widget-element">
                    <a href="index.html"><img src="assets/img/logo.svg" class="ish-logo-widget" alt="QUSQ logo" /></a>
                    <div class="ish-tagline-widget ish-txt-color1">One ring to rule them all</div>
                  </div>
                  <nav id="site-navigation" class="main-navigation ish-widget-element">
                    <ul>
                        <li><a [routerLink]="['/home']" [routerLinkActive]="['ish-active-item']" [routerLinkActiveOptions]="{exact: true}" (click)="closeNav()"><span>Home</span></a></li>
                        <li><a [routerLink]="['/aboutme']" [routerLinkActive]="['ish-active-item']" [routerLinkActiveOptions]="{exact: true}" (click)="closeNav()"><span>About Me</span></a></li>
                        <li><a [routerLink]="['/blog']" [routerLinkActive]="['ish-active-item']" [routerLinkActiveOptions]="{exact: true}" (click)="closeNav()"><span>Blog</span></a></li>
                        <li><a [routerLink]="['/portfolio']" [routerLinkActive]="['ish-active-item']" [routerLinkActiveOptions]="{exact: true}" (click)="closeNav()"><span>Portfolio</span></a></li>
                        <li><a [routerLink]="['/contact']" [routerLinkActive]="['ish-active-item']" [routerLinkActiveOptions]="{exact: true}" (click)="closeNav()"><span>Contact</span></a></li>
                    </ul>
                  </nav>
                  <!-- <form role="search" method="get" id="ish-search-nav-form" class="ish-search-form ish-widget-element" action="search-results.html">
                    <div>
                      <p><input type="text" value="" name="ish-search-nav" id="ish-search-nav" class="ish-search-nav" placeholder="Search"></p>
                      <button type="submit" id="ish-search-nav-submit" class="ish-search-submit"><i class="ish-icon-search"></i></button>
                    </div>
                  </form> -->
                  <div class="ish-social-box ish-widget-element ish-row">
                    <span class="ish-col-xs-4 ish-twitter"><a href="#"><i class="ish-icon-twitter"></i></a></span>
                    <span class="ish-col-xs-4 ish-behance"><a href="#"><i class="ish-icon-behance"></i></a></span>
                    <span class="ish-col-xs-4 ish-dribbble"><a href="#"><i class="ish-icon-dribbble"></i></a></span>
                    <span class="ish-col-xs-4 ish-instagram"><a href="#"><i class="ish-icon-instagram"></i></a></span>
                    <span class="ish-col-xs-4 ish-gplus"><a href="#"><i class="ish-icon-gplus"></i></a></span>
                    <span class="ish-col-xs-4 ish-facebook"><a href="#"><i class="ish-icon-facebook"></i></a></span>
                  </div>
                  <!-- <div class="ish-widget-element">
                    <p>Another amazing template by <a href="http://ishyoboy.com" target="_blank" class="ish-underline">IshYoBoy.com</a></p>
                  </div> -->
                </div>
              </div>
            </div>
    
          </div>
    
        </div>
    
        <div class="ish-decor-container"><div class="ish-decor-bottom ish-theme-rotate"></div></div>
      </header>